.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding: 2em;
}

.prefecture-list {
  display: flex;
  align-items: flex-start;
  align-content: space-around;
  flex-wrap: wrap;
  gap: 1em;
}

.prefecture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 2.5em;
}

.population-label-selector-wrapper {
  width: max-content;
}

.population-graph-wrapper {
  width: 100%;
  aspect-ratio: 1 / 0.5;
}
