@use "@/app/variables.scss" as *;

@mixin basic-button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid $border-color;
  border-radius: 9999px;
  line-height: 1;
  overflow: hidden;

  cursor: pointer;
}
